.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    height: calc(100vh - 200px);
    background-color: black;
}

.text-area {
    width: 30%;
    height: 60vh;
    padding-right: 20px;
    overflow-y: scroll;
}

.model-container {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-text {
    height: 70vh;
    width: 20vw;
    color: #fff;
    overflow: auto;
}

.swiper {
    height: 10vw !important;
}

/* Styling for the thumbnail slider */
.thumbnail-slider {
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-align: center;
    width: 80px;
    opacity: 0.7;
}

.thumbnail img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.thumbnail p {
    font-size: 0.9em;
    margin-top: 8px;
    color: #fff;
}

.thumbnail.active {
    transform: scale(1.3);
    opacity: 1;
}

#root>ion-app>ion-router-outlet>div>ion-content>div.content-container>div.text-area>ion-text>div {
    border: none !important;
    padding: 0 !important;
}

@media (max-width: 1280px) {
    .swiper {
        min-height: 15vw !important;
    }
}

/* Tablet view: At 768px or below, set text-area to 40% and model-container to 60% */
@media (max-width: 1024px) {
    .swiper {
        min-height: 20vw !important;
    }

    .text-area {
        width: 40%;
        height: auto;
        padding-right: 10px;
    }

    .model-container {
        width: 60%;
    }

    .thumbnail-slider {
        padding: 10px;
        width: 100%;
    }

    .thumbnail {
        width: 60px;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .swiper {
        min-height: 30vw !important;
    }
}


/* Mobile view: At 480px or below, stack elements vertically, reverse order, and add spacing */
@media (max-width: 480px) {
    .content-container {
        display: block;
        padding: 10px;
        overflow-y: scroll;
    }

    .text-area {
        width: 100%;
        margin-bottom: 20px;
        height: 40vh;
        padding: 10px;
        /* Give space for both text and model */
        overflow-y: auto;
        min-height: 20vh;
    }

    .model-container {
        width: 100%;
        height: 40vh;
        margin-bottom: 20px;
        padding-top: 35vh;
    }

    .model-text {
        width: 90vw;
        height: auto;
        margin-bottom: 20px;
    }

    .swiper {
        min-height: 35vw !important;
    }

    .thumbnail-slider {
        padding: 10px;
        width: 100%;
    }

    .thumbnail {
        width: 50px;
        margin: 5px;
    }

    .thumbnail p {
        font-size: 0.7em;
        overflow-wrap: normal;
    }
}